@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gazi University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Gazi University</h2>
        <p>
            This application made for pratice
            purposes for EF6.
        </p>
    </div>
    
</div>